<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h2>{{ the_title }} </h2>

<form action="/add_info" method="POST">
<table border="1" >
	<tr><td>学生学号</td><td><input type="text" name="student_id"></td></tr>
	<tr><td>学生姓名</td><td><input type="text" name="student_name"></td></tr>
	<tr><td>学生性别</td><td><input type="text" name="student_gender"></td></tr>
	<tr><td>学生班级</td><td><input type="text" name="student_class"></td></tr>
	<tr><td>注册账号</td><td><input type="text" name="account_number"></td></tr>
	<tr><td>设置密码</td><td><input type="text" name="user_password"></td></tr>
</table>
	<p><button type="submit">完成注册，返回首页</button>	</p>
</form>

</body>
</html>


