
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Map - Map_china_citites</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  	<nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/test">返回主页</a></li>
                <li><a href="/say/">留言板</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他功能 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">地理/逆地理编码</a></li>
                    <li><a href="#">天气查询</a></li>
                    <li><a href="#">土味情话</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
<!--     <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">返回主页</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">关于博主</a>
        </nav>
      </div>
    </div>
 -->
    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">中国城市地图</h1>
        <p class="lead blog-description">Chinese city map</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">功能说明：</h2>

            <p>此API 是通过将输入的城市和数量对应生产可视化地图，结果将以html文件返回本地</p>
            <p><a href="https://gallery.pyecharts.org/#/Map/map_china_cities">官方说明文档</a></p>
            <hr>
            <br/>
            <blockquote>
              <p><strong>调用说明</strong><br/>需提前安装pyecharts模块。输入城市名与对应的数值</p>
            </blockquote>
            <br/>
            <p><strong>产品功能应用场景设计:</strong><br/>可视化呈现excel文件数据</p>
			
			<br/>
			<br/>

            <h2>代码示例：</h2>
            <hr/>
            <p>请求方式：POST</p>
            <p><strong>参数</strong>可设置城市名与对应数量</p>
            <br/>
            <h3>一、封装函数</h3>
            <pre><code>def mapcity():
    c = (
        Map()
        .add(
            "",
            [list(z) for z in zip(独角兽城市,独角兽数量)],
            "china-cities",
            label_opts=opts.LabelOpts(is_show=False),
        )
        .set_global_opts(
            title_opts=opts.TitleOpts(title="2018独角兽企业城市分布数量"),
            visualmap_opts=opts.VisualMapOpts(),
        )
        
       # .render_notebook()
     # .render("2018独角兽企业城市分布数量.html")#生成HTML文件，可在浏览器打开
    )
    return c.render_notebook()</code></pre>

    		<hr/>
            <h3>二、函数调用</h3>
            <pre><code>test_chartmap = mapcity()
  return render_template("chart_citymap.html",
    res = test_chartmap
    )</code></pre>
			<hr/>
			<h3>三、结果返回</h3>
			<pre># html文件或在线预览图表</pre>

   			<!-- <hr/>
   			<h3>四、json转换成pandas表格形式</h3>
   			<pre><code># 转换成pandas表格(这里的数据不多，且层级关系少，不适合做成表格，主要用于演示pandas代码)
results01 = geocode(Mai_key,"广东省广州市从化区中山大学南方学院")
pd.json_normalize(results01['geocodes'][0])</code></pre>
			
			<hr/>
			<h3>五、切片取值</h3>
			<pre><code>地理编码 = results01['geocodes'][0]['location']
地理编码</code></pre>
			<pre><code>'113.679287,23.632575'</code></pre> -->

			</div>
			<br/>
			<br/>
			<h2>代码说明：待更新</h2>
            

            <br/>
            <br/>
          <nav>
            <ul class="pager">
              <li><a href="#">返回顶部</a></li>
              <li><a href="#">下一版块</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>本页面将详细介绍高德API的功能及其使用方法，主要运用编程语言<em>Python</em>，帮助你基本掌握功能的调用，并在开发中做到运用</p>
          </div>
         
          <div class="sidebar-module">
            <h4>Related content links</h4>
            <ol class="list-unstyled">
              <li><a href="#">Gitee-Python仓库链接</a></li>
              <li><a href="#">Gitee-高德API仓库链接</a></li>
            </ol>
            <hr/>
            <h3>调用测试</h3>
            <form class="form-signin" method="Post" action="/res_mapcity">
	            
	            <button class="btn btn-lg btn-primary btn-block" type="submit">查询</button>
        	</form>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
    <hr>
    <footer class="pager">
        <p>Email:m15603053551@163.com</p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
