
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
{#    <link rel="stylesheet" type="text/css" href="static/Whole_style.css">#}

    <title>Python可视化图表</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href='https://gitee.com/maifengyuan/gaode-api.git'>Maify API、人工智能与机器学习期末项目</a>
        </div>
          <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">主页</a></li>
            <li><a href="/test_gaode">高德API</a></li>
            <li><a href="/alapi_01">ALAPI</a></li>
            <li><a href="#">关于站主</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
{#        <div id="navbar" class="navbar-collapse collapse">#}
{#          <form class="navbar-form navbar-right">#}
{#            <div class="form-group">#}
{#              <input type="text" placeholder="Email" class="form-control">#}
{#            </div>#}
{#            <div class="form-group">#}
{#              <input type="password" placeholder="Password" class="form-control">#}
{#            </div>#}
{#            <button type="submit" class="btn btn-success">Sign in</button>#}
{#          </form>#}
{#        </div><!--/.navbar-collapse -->#}
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Pyecharts体验</h1>
        <p>本项目对Pyecharts图片绘制提供了基本功能测试和技术支持，凭借着良好的交互性，精巧的图表设计利用python将数据可视化呈现给用户。主要包括：地理图表、块状图等。</p>
{#        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>#}
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
          <div class="col-md-4">
              <h2>基本图表</h2>
              <p>功能已开启</p>
              <p><a class="btn btn-default" href="/geocode_01" role="button">查看详细 &raquo;</a></p>
          </div>
            <div class="col-md-4">
              <h2>直角坐标系图表</h2>
              <p>功能未开启</p>
              <p><a class="btn btn-default" href="#" role="button">查看详细 &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>树形图表</h2>
              <p>功能未开启</p>
              <p><a class="btn btn-default" href="#" role="button">查看详细 &raquo;</a></p>
            </div>
              <div class="col-md-4">
              <h2>地理图表</h2>
              <p>功能未开启</p>
              <p><a class="btn btn-default" href="#" role="button">查看详细 &raquo;</a></p>
            </div>
              <div class="col-md-4">
              <h2>3D图表</h2>
              <p>功能未开启</p>
              <p><a class="btn btn-default" href="#" role="button">查看详细 &raquo;</a></p>
          </div>
          <div class="col-md-4">
              <h2>组合图表</h2>
              <p>功能未开启</p>
              <p><a class="btn btn-default" href="#" role="button">查看详细 &raquo;</a></p>
          </div>
          <div class="col-md-4">
              <h2>HTML组件</h2>
              <p>功能未开启</p>
              <p><a class="btn btn-default" href="#" role="button">查看详细 &raquo;</a></p>
          </div>
          <div class="col-md-4">
              <h2>定制主题(进阶)</h2>
              <p>功能未开启</p>
              <p><a class="btn btn-default" href="#" role="button">查看详细 &raquo;</a></p>
          </div>
          <div class="col-md-4">
              <h2>渲染图片(进阶)</h2>
              <p>功能未开启</p>
              <p><a class="btn btn-default" href="#" role="button">查看详细 &raquo;</a></p>
          </div>
      </div>

      <hr>

      <footer>
        <p>站主联系方式：m15603053551@163.com</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>

</html>